---
---

<footer class="mt-12 text-center">
  <p class="text-xs font-mono text-text-dim">
    © 2026 MAX BARANOV. MADE WITH <a
      href="https://astro.build" target="_blank" rel="noopener noreferrer"
      class="text-primary">ASTRO</a
    >
  </p>
</footer>
