---
interface Props {
  title?: string;
}

const { title = "Dear Dates - Remember What's Important" } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <meta
      name="description"
      content="A simple way to remember what's important and make your loved ones happy on time."
    />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col font-display antialiased bg-gradient-to-br from-pink-50/80 via-rose-50/80 to-pink-100/80">
    <slot />
  </body>
</html>

<style is:global>
  /* Local fonts */
  @font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
      format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
  }

  @font-face {
    font-family: "Space Mono";
    src: url("/assets/fonts/Space_Mono/SpaceMono-Regular.ttf")
      format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    color: #1f2937;
    font-family: "Inter", sans-serif;
  }
</style>
